.form
    margin-top: 1rem

.fieldset
    border: none
    padding: 0
    legend
        margin-bottom: 0.5rem
        font-weight: bold

.textarea
    resize: vertical
    width: 100%

.button
    background-color: #2185d0
    box-shadow: 0 0 0 0 rgb(34 36 38 / 15%) inset
    vertical-align: top
    color: #fff
    border: none
    outline: 0
    padding: 0.5rem 1.25rem
    border-radius: .25rem
    margin-top: 0.5rem
    &:hover
        background-color: #1678c2
