@use 'basecss'

header, footer
    background-color: #efeff3

code
    background-color: #f8f8fa
    padding: 0.5rem

header
    margin-bottom: 1rem
    padding: 1rem 0

footer
    margin-top: 2rem

p
    padding: 1rem 0

.error
    color: red
    padding: 0.5rem 0
