.table
    margin-top: 1rem
    text-align-last: left
    border-collapse: collapse
    border: 1px solid
    th, td
        padding: 8px
        border: 1px solid #ddd
    th
        background-color: #f8f8fa
    tr:hover
        background-color: #f8f8fa

.score
    width: 10%
